// biteSizeOuter ==> outer & biteSize

[class^="outer_"][class*="biteSize_"],
[class^="outer_"][class*="fullSize_"] {
  > div::before {
    content: "";
    position: absolute;
    background-color: var(--profile-body-background-color);
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    border-radius: 8px;
  }
  &[class*="userProfileOuterThemed"] > div::before {
    margin: 16px;
    margin-right: 20px;
    margin-bottom: 20px;
  }
  &[class*="userProfileOuterUnthemed"] > div::before {
    margin: 16px;
  }
}
