// Profiles without names/bots without profiles, Discord Official Messages profile
[class^="biteSizeOuter"]
  > [class^="userPopoutInner"]:not(
    :has(
        > footer > [class^="channelTextArea"],
        > [class^="body"] > [class^="container"] > [class^="tags"] > [class^="container"]
      )
  ) {
  > header {
    > [class^="bannerSVGWrapper"] {
      padding: 0 0 3px;
    }
    &::before {
      // Warning circle icon when profile is unable to load
      content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' fill='none' viewBox='0 0 24 24'%3E%3Ccircle cx='12' cy='12' r='10' fill='transparent' class=''%3E%3C/circle%3E%3Cpath fill='%23f0b132' fill-rule='evenodd' d='M12 23a11 11 0 1 0 0-22 11 11 0 0 0 0 22Zm1.44-15.94L13.06 14a1.06 1.06 0 0 1-2.12 0l-.38-6.94a1 1 0 0 1 1-1.06h.88a1 1 0 0 1 1 1.06Zm-.19 10.69a1.25 1.25 0 1 1-2.5 0 1.25 1.25 0 0 1 2.5 0Z' clip-rule='evenodd' class=''%3E%3C/path%3E%3C/svg%3E");
      position: absolute;
      z-index: 1;
      top: 8px;
      right: 16px;
      width: 20px;
      height: 20px;
    }
    &::after {
      content: "";
      display: block;
      position: absolute;
      transform: translateY(-12px);
      width: 308px;
      height: 12px;
      margin: 0 16px;
      border-top-left-radius: var(--radius-sm);
      border-top-right-radius: var(--radius-sm);
      background-color: var(--profile-body-background-color);
    }
  }
  > [class^="body"] {
    > [class^="container"] {
      position: static;
      margin: unset;
      padding: unset;
      > [class^="tags"] > [class^="userTag"] > [class^="username"] {
        display: none;
      }
    }
  }
}
[class*="SizeOuter"] > [class^="userPopoutInner"] > [class^="body"] {
  > [class^="container"] {
    gap: unset;
    > [class^="usernameRow"] {
      > h1 {
        color: var(--interactive-active);
        font-weight: 600;
      }
    }
  }
}
