@use "lang";
@use "sass:map";

@mixin eyebrow-font {
  display: flex;
  font-weight: 700;
  color: var(--header-primary) !important;
  font-family: var(--font-display);
  font-size: 12px;
  line-height: 1.3333;
  text-transform: uppercase;
  letter-spacing: 0.02em;
}

@mixin eyebrow($margin-bottom) {
  margin-bottom: $margin-bottom;
  width: 100%;
  @include eyebrow-font;
}

[class^="activityBiteSizePopout"] > [class^="headerContainer"] > h1, /* These top three are for activity headers which use semibold instead of eyebrow */
[class^="activityBiteSizePopout"] > [class^="headerContainer"] > h2,
[class^="activitySimplifiedProfile"] > [class^="headerContainer"] > h1,
[class^="userProfileModalInner"] [class^="section"] > h1, /* For headers in the full profile which use semibold instead of eyebrow */
[class^="userPanelInner"] [class^="section"] > h2 /* For DM profile panels */ {
  @include eyebrow-font;
}
div:has(> [class^="descriptionClamp"]),
[class^="userProfileModalInner"] [class^="scroller"] > [class^="markup"] {
  @each $lang, $string in lang.$about-me {
    &:lang(#{$lang})::before {
      content: $string;
    }
  }
  &::before {
    @include eyebrow(6px);
  }
}
div:has(> [data-list-id^="roles-"]):not(:has([data-text-variant="eyebrow"])) {
  @each $lang, $string in lang.$roles {
    &:lang(#{$lang})::before {
      content: $string;
    }
  }
  &::before {
    @include eyebrow(6px);
  }
}
[class^="mutuals_"] {
  @each $lang, $string in lang.$mutuals {
    &:lang(#{$lang})::before {
      content: $string;
    }
  }
  &::before {
    @include eyebrow(4px); // .mutuals_dc9488 has a row-gap of 2px [2 + 4 = 6]
  }
}
[class^="section"] > ul[class^="list"] {
  @each $lang, $string in lang.$try-my-commands {
    &:lang(#{$lang})::before {
      content: $string;
    }
  }
  &::before {
    @include eyebrow(6px);
  }
}
[class^="section"]:has(> div > [data-list-id^="roles-"]) > h1, /* Bot roles */
[class^="section"]:has(> [class^="list"]) > h1 /* Bot commands */ {
  display: none;
}
