// Used for reference

// #region @use
@use "mixins" as *;
@use "inlineStatus";
// #endregion

[class^="fullSizeOuter"] {
  // Layout
  > [class^="userProfileModalInner"] {
    gap: unset !important;
    background: linear-gradient(
      var(--profile-gradient-start),
      var(--profile-gradient-start) var(--custom-user-banner-height-bite-size),
      var(--profile-gradient-end)
    );
    // > [class^="wrapper"] > div:has(button > div > svg > [d^="M4 14a2 2 0 1"]) {
    //   top: calc(19px + var(--edge-padding) + var(--banner-height));
    //   right: 16px;
    //   position: fixed;
    //   > button {
    //     background: unset !important;
    //     color: var(--interactive-normal);
    //     &:hover {
    //       color: var(--interactive-hover);
    //     }
    //     > div {
    //       width: 24px;
    //       height: 24px;
    //       @include dumbmaxing;
    //       transform: rotate(90deg);
    //       > svg {
    //         width: 24px;
    //         height: 24px;
    //       }
    //     }
    //   }
    // }
    // // Banner
    // &:has(> [class^="body"] > [class^="container"] > [class^="tags"] > [class^="pronounsTooltip"])
    //   > header
    //   > [class^="bannerSVGWrapper"] {
    //   // With Pronouns
    //   padding-bottom: calc(128px + var(--badge-container-height) - var(--banner-offset));
    // }
    // > header {
    //   height: 210px;
    //   display: inline-table;
    //   // Banner
    //   > [class^="bannerSVGWrapper"] {
    //     //Without pronouns
    //     padding-bottom: calc(108px + var(--badge-container-height) - var(--banner-offset));

    //     @include dumbmaxing;
    //     // transform: scaleX(1.98122) scaleY(2.0189) translateX(75px) translateY(26.5px);
    //     mask {
    //       rect {
    //         width: 600px;
    //         height: 210px;
    //       }
    //       // circle {
    //       //   transform: scaleY(0.9906);
    //       // }
    //     }
    //     foreignObject {
    //       height: 210px;
    //       > [class^="banner"] {
    //         height: 210px;
    //         &::before {
    //           content: unset;
    //         }
    //       }
    //     }
    //   }
    //   > [class^="headerInner"] {
    //     padding: unset;
    //     pointer-events: none;
    //     min-height: unset;
    //     // Buttons
    //     button {
    //       pointer-events: initial;
    //     }
    //     > [class^="buttons"] {
    //       width: -webkit-fill-available;
    //       position: fixed;
    //       top: calc(16px + var(--edge-padding) + var(--banner-height));
    //       padding-right: 36px;
    //       margin: 0 16px;
    //       > [class^="multipleButtons"] {
    //         &:has(> button > div > svg > [d^="M19 14a1 1 0"]) > div {
    //           display: none;
    //         }
    //         > button:has(> div > svg > [d^="M19 14a1 1 0"]) {
    //           // Add Friend
    //           opacity: unset;
    //           background-color: var(--button-positive-background);
    //           transition:
    //             background-color var(--custom-button-transition-duration) ease,
    //             color var(--custom-button-transition-duration) ease;
    //           &:hover {
    //             background-color: var(--button-positive-background-hover);
    //           }
    //           // > div {
    //           //   font-size: 0;
    //           //   gap: unset;
    //           //   &::before {
    //           //     content: "Send Friend Request";
    //           //     font-size: 14px;
    //           //   }
    //           //   > svg {
    //           //     display: none;
    //           //   }
    //           // }
    //         }
    //       }
    //       // > button:has(> [class^="contents"] > svg > [d^="m13.96 5.46 4.58 4.58a1"]) {
    //       //   visibility: visible;
    //       //   width: 28px;
    //       //   height: 28px;
    //       //   font-size: 0;
    //       //   padding: unset;
    //       //   min-width: unset;
    //       //   min-height: unset;
    //       //   background: hsl(var(--black-500-hsl) / 0.3);
    //       //   color: var(--white-500);
    //       //   border-radius: var(--radius-round);
    //       //   transition: background-color 0.2s ease;
    //       //   position: fixed;
    //       //   top: 12px;
    //       //   right: 12px;
    //       //   > [class^="contents"],
    //       //   > [class^="contents"] > svg {
    //       //     width: 18px;
    //       //     height: 18px;
    //       //     gap: unset;
    //       //   }
    //       //   &:hover {
    //       //     background: hsl(var(--black-500-hsl) / 0.6);
    //       //     opacity: unset;
    //       //   }
    //       // }
    //     }
    //     // Avatar
    //     > [class^="avatar"] {
    //       position: fixed;
    //       left: 28px;
    //       top: 149px;
    //       pointer-events: all;
    //     }
    //     // Status
    //     > div {
    //       > [class^="invisibleContainer"] {
    //         display: none;
    //       }
    //       > [class^="visibleContainer"] {
    //         position: unset;
    //         > [class^="statusBubbleOuter"] {
    //           border: unset;
    //           background: var(--profile-body-background-color);
    //           box-shadow: none;
    //           margin: 0 16px;
    //           padding: 12px 12px 0;
    //           border-radius: unset;
    //           max-width: unset;
    //           &::before,
    //           &::after {
    //             display: none;
    //           }
    //           > [class^="statusBubble"] {
    //             max-width: fit-content;
    //             max-height: unset;
    //             padding: unset;
    //             background: transparent;
    //             > div {
    //               pointer-events: initial;
    //               text-align: start;
    //               -webkit-line-clamp: unset;
    //               max-height: unset !important;
    //               > [class*="statusText"] {
    //                 font-weight: 400;
    //               }
    //               > [class*="statusEmojiOnly"] {
    //                 user-select: none;
    //                 cursor: initial;
    //                 width: 48px;
    //                 height: 48px;
    //                 @include dumbmaxing;
    //               }
    //               > [class*="statusEmojiInline"] {
    //                 user-select: none;
    //                 cursor: initial;
    //                 margin: -1px 4px -1px 0;
    //                 width: 20px;
    //                 height: 20px;
    //               }
    //             }
    //           }
    //         }
    //       }
    //     }
    //   }
    // }
    > [class^="body"] {
      // gap: unset;
      // padding: unset;
      // margin: 0 16px 16px 16px;
      // Username and pronouns header
      > [class^="container"] {
        // position: fixed;
        // transform: translate(0);
        top: calc(
          51px + var(--banner-height) + var(--badge-container-height) + var(--edge-padding)
        );
        left: 0px;
        margin: 0 calc(16px + var(--edge-padding)) 0;
        padding: 12px 12px 0;
        border-top-left-radius: var(--radius-sm);
        border-top-right-radius: var(--radius-sm);
        background-color: var(--profile-body-background-color);
        width: -webkit-fill-available;
        > [class^="usernameRow"] {
          > h1 {
            -webkit-box-orient: vertical;
            word-break: break-all;
            display: -webkit-box;
            font-size: 20px;
            line-height: 1.2;
            font-weight: 600;
          }
        }
        > [class^="tags"] {
          gap: unset;
          // Badges
          > [class^="container"] {
            position: absolute;
            justify-content: flex-start;
            left: calc(160px);
            top: calc(inlineStatus.$fullsize-padding - 50px);
            margin: unset;
            border: unset;
            border-radius: 8px;
            box-sizing: content-box;
            max-width: calc(calc(8 /* Colums - 1 */ * 26px) + 24px);
            padding: 2px 4px;
            background-color: var(--profile-body-background-color);
            div > a {
              > img,
              > div {
                width: 24px;
                height: 24px;
              }
            }
          }
          // User tag
          > [class*="userTag"] {
            width: 100%;
            > span {
              font-size: 14px;
              line-height: 24px;
              font-weight: 600;
              color: var(--header-secondary);
            }
          }
          > [class^="dotSpacer"] {
            display: none;
          }
          > [class^="pronounsTooltip"] {
            font-size: 14px;
            line-height: 1.2857142857142858; // Don't ask
            font-weight: 400;
            padding-top: 2px;
          }
        }
      }
      > [class^="fullSizeOverlayBackground"] {
        // Accept friend request
        &:is([class*="friendRequestBannerOverlay"]) {
          display: none;
        }
        border-top-left-radius: unset;
        border-top-right-radius: unset;
        border: unset;
        background-color: var(--profile-body-background-color);
        // Tab bar
        > [class^="container"] {
          > [class^="tabBar"] {
            gap: 40px;
            margin: 20px 12px 0;
            &:not(:has(> [class^="tabBarItem"]:nth-child(2))) {
              display: none;
            }
            > [class^="tabBarItem"] {
              height: 39px;
              border-bottom-width: 2px;
              div {
                font-weight: 500;
                line-height: 20px;
                color: var(--interactive-normal);
              }
              &:hover > div {
                color: var(--interactive-hover);
              }
              &[aria-selected="true"] > div {
                color: var(--interactive-active);
              }
              // &:nth-child(1) > div {
              //   font-size: 0;
              //   &::before {
              //     content: "User Info";
              //     font-size: 14px;
              //   }
              // }
            }
          }
          // // Roles
          // [data-list-id^="roles"] {
          //   [class*="pill"],
          //   > div > button {
          //     background-color: var(--profile-role-pill-background-color);
          //     border: unset;
          //     max-height: 22px;
          //     box-sizing: border-box;
          //   }
          // }
          // Divider
          &:not(:has(> [class^="tabBar"] > [class^="tabBarItem"]:nth-child(2)))::before {
            content: "";
            width: -webkit-fill-available;
            height: 1px;
            margin: 20px 12px 0;
            background-color: var(--profile-body-divider-color);
          }
          // Scroller fix thingy :3
          [class^="scroller"]::-webkit-scrollbar-track {
            margin-bottom: 4px;
          }
        }
      }
    }
  }
}

[class^="fullSizeOuter"] [class^="visibleContainer"] {
  background-color: var(--profile-body-background-color);
  margin: 0 16px;
  padding: 0 12px;
  padding-top: 12px;
}
