$fancy-padding: 146px;
$negative-fancy-padding: calc($fancy-padding * -1);

[class*="biteSizeOuter"] {
  > div {
    padding-top: $fancy-padding;
    max-height: calc(
      100vh - 28px - var(--custom-user-popout-outside-components-height) - $fancy-padding
    );
  }
  header {
    min-height: unset !important;
    > svg {
      position: fixed;
      width: 300px;
      transform: translateY($negative-fancy-padding);
    }
    > [class^="avatar"] {
      position: fixed;
      top: unset;
      left: unset;
    }
  }
  // Unthemed
  &:not([class*="userProfileOuterThemed"]) header {
    > svg {
      border-top-left-radius: var(--radius-sm);
      border-top-right-radius: var(--radius-sm);
    }
    > [class^="avatar"] {
      transform: translate(16px, calc(61px + $negative-fancy-padding));
    }
  }
  // Themed/Nitro
  &[class*="userProfileOuterThemed"] header {
    > [class^="avatar"] {
      transform: translate(12px, calc(57px + $negative-fancy-padding));
    }
  }
}
