@use "mixins" as *;
@use "lang";
@use "sass:map";

@use "header";

// Body
[class*="biteSizeOuter"] {
  > div {
    gap: unset;
    overflow: hidden auto;
    > header [class^="visibleContainer"] {
      margin-left: 16px;
      margin-right: 16px;
      z-index: 1;
    }
    > [class^="body"] {
      overflow: unset;
      min-height: unset;
      padding-top: 12px;
    }
  }
}

// Username container
// [class*="biteSizeOuter"] [class^="body"] > [class^="container"] {
// }

// Status
[class^="visibleContainer"] {
  position: relative;
  top: unset !important;
  left: unset !important;
}
[class^="invisibleContainer"] {
  display: none;
}
[class^="statusBubbleOuter"] {
  border: unset !important;
  box-shadow: unset;
  max-width: fit-content;
  &::before,
  &::after {
    display: none;
  }
  [class^="content"] {
    text-align: unset;
  }
  .emoji {
    cursor: default;
  }
}
[class^="statusBubble"] {
  min-width: unset;
  padding: unset;
  border-radius: unset;
  background: unset;
}

// Footer
[class*="biteSizeOuter"] footer {
  padding-top: 8px;
}
