// #region @use
@use "sort";

@use "buttons";
@use "avatar";
@use "background";

@use "eyebrows";
@use "roles";
@use "inlineStatus";
@use "badges";
// #endregion

// #region Fullsize
[class^="root_"]:has(> [class^="fullSizeOuter_"]) {
  max-height: 720px;
}
[class^="fullSizeOuter_"] {
  > div {
    background: linear-gradient(
      var(--profile-gradient-start),
      var(--profile-gradient-start) var(--custom-user-banner-height-bite-size),
      var(--profile-gradient-end)
    );
    gap: unset !important;
    &::before {
      margin-top: 6px !important;
    }
  }
  [class^="fullSizeOverlayBackground_"] {
    background: unset !important;
    background-color: unset !important;
    border: unset !important;
  }
  [class^="tabBarItem_"] {
    height: 39px;
    border-bottom-width: 2px;
    div {
      font-weight: 500;
      line-height: 20px;
      color: var(--interactive-normal);
    }
    &:hover > div {
      color: var(--interactive-hover);
    }
    &[aria-selected="true"] > div {
      color: var(--interactive-active);
    }
  }
  [class^="body_"] {
    > [class^="container_"],
    > [class^="clickable_"] {
      z-index: 1;
      margin: 0 16px;
      padding: 0 16px;
    }
    > [class^="clickable_"] {
      padding-top: 12px;
    }
  }
  [class^="visibleContainer"] {
    margin: 0 16px;
    padding-top: 12px;
  }
  &:not(:has([class^="banner"][style*="background-image"])) {
    > div {
      padding-top: calc(inlineStatus.$fullsize-padding - 104px);
    }
    [class^="headerInner_"] > [class^="headerButtons_"] {
      transform: translateY(122px);
    }
    [class^="body_"] > [class^="container_"] > [class^="tags"] > [class^="container_"] {
      top: calc(inlineStatus.$fullsize-padding - 158px) !important;
    }
  }
  [class^="body_"] > [class^="container_"] {
    margin-top: 6px !important;
    padding-top: 12px;
    > [class^="tags"] {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      row-gap: 2px;
      > [class^="dotSpacer"] {
        display: none;
      }
      // Badges
      > [class^="container_"] {
        position: absolute;
        justify-content: flex-start;
        left: calc(160px);
        top: calc(inlineStatus.$fullsize-padding - 50px);
        margin: unset;
        border: unset;
        border-radius: 8px;
        box-sizing: content-box;
        max-width: calc(calc(8 /* Colums - 1 */ * 26px) + 24px);
        padding: 2px 4px;
        background-color: var(--profile-body-background-color);
        div > a {
          > img,
          > div {
            width: 24px;
            height: 24px;
          }
        }
      }
    }
  }
}
// #endregion

// #region Panel
[class^="userPanelOuter"] {
  header [class^="visibleContainer"] {
    padding: 0 12px;
    margin: 0 16px;
    padding-bottom: 12px;
    background-color: var(--profile-body-background-color);
  }
  [class^="body"] {
    > [class^="container"] {
      padding: 12px;
      margin-top: 16px !important;
      background-color: var(--profile-body-background-color);
      border-top-left-radius: var(--radius-sm);
      border-top-right-radius: var(--radius-sm);
    }
    > [class^="overlayBackground"] {
      gap: 0px;
      padding-bottom: 0px;
      padding-top: 0px;
      margin-bottom: 12px !important;
      border-top-left-radius: unset;
      border-top-right-radius: unset;
      > * {
        // padding: 0 12px;
        padding-bottom: 12px;
        gap: 6px;
      }
      // Divider
      &::before {
        content: "";
        height: 1px;
        min-height: 1px;
        background-color: var(--profile-body-divider-color);
        margin-bottom: 12px;
        position: sticky;
        z-index: 1;
      }
    }
  }
}

[class^="userPanelOuter"] > div > [class^="none"] {
  gap: unset !important;
  > [class^="body"] {
    > [class^="activityBiteSizePopout"],
    > [class^="activity_"] {
      padding: 12px !important;
      background: var(--profile-body-background-color) !important;
      border-radius: 8px;
      margin-bottom: 12px !important;
    }
  }
}
// #endregion

// #region Hoist status/avatar reply/react
[class*="userProfileOuter"] [class*="hoisted_"] {
  z-index: 5 !important;
}
// #endregion

// #region Tags & split username/pronouns
[class^="userPanelOuter"]
  [class^="body"]
  > [class^="container"]
  > [class^="tags"]
  > [class^="container_"] {
  border-radius: 4px !important;
}
[class^="biteSizeOuter"],
[class^="userPanelOuter"] {
  [class^="body"] > [class^="container"] {
    display: flex;
    flex-direction: column;
    gap: unset; // For bots
    > [class^="tags"] {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      > [class^="dotSpacer"] {
        display: none;
      }
      > [class^="container_"] {
        position: absolute;
        background-color: var(--profile-body-background-color);
        border: unset;
        border-radius: 8px;
        padding: 4px;
        gap: 2px;
        transform: translate(12px, -81px);
        max-width: 182px;
        align-self: end;
      }
    }
  }
}
// #endregion

[class^="biteSizeOuter"] {
  width: 340px;
  box-sizing: unset;
  header {
    > svg {
      width: 340px;
      padding-right: unset;
      > foreignObject > div:before {
        display: none;
      }
    }
  }
  &:not(:has([class^="banner"][style*="background-image"])) {
    > div {
      padding-top: calc(inlineStatus.$bitesize-padding - 60px);
    }
  }
}
[class^="fullSizeOuter"] > div {
  height: -webkit-fill-available;
}

// Banner avatar cutout
[class*="biteSizeOuter"] circle {
  &[cx="52"]/*[cy="97"][r="46"]*/ {
    // Image
    cx: 51;
    cy: 98;
    r: 40.59;
    // r: 35.294;
  }
  &[cx="56"]/*[cy="101"][r="46"]*/ {
    // No image
    cx: 54.5;
    cy: 101.5;
    r: 40.59;
    // r: 35.294;
  }
}

// Activities
[class*="userProfileOuter"]:not([class^="userProfileModalOuter"]) [class^="activityBiteSizePopout"],
[class*="userProfileOuter"]:not([class^="userProfileModalOuter"]) [class*="activity_"] {
  padding: unset;
  border-radius: unset;
  background: unset !important;
}

// About me
[class*="userProfileOuter"]:not([class^="userProfileModalOuter"]) {
  [class^="descriptionClamp"] {
    -webkit-line-clamp: 6;
    max-height: unset;
  }
  [class^="viewFullBio"] {
    display: none;
  }
}

// Body inner
[class*="biteSizeOuter"] {
  > div {
    gap: unset !important;
    // padding-bottom: 16px;
    background: linear-gradient(
      var(--profile-gradient-start),
      var(--profile-gradient-start) var(--custom-user-banner-height-bite-size),
      var(--profile-gradient-end)
    );
    overflow: scroll auto;
    > [class^="body"] > [class^="container"] {
      > [class^="usernameRow"] {
        padding-top: 12px;
        margin-top: 16px;
        // order: 1;
        // padding-bottom: 38px; // Padding for username and pronouns
      }
      // &:not(:has([class^="pronounsTooltip"])) > [class^="usernameRow"] {
      //   padding-bottom: 18px; // Padding for username
      // }
    }
    // Inner body gap
    > header [class^="visibleContainer"],
    > [class^="body"] > *:not([aria-hidden]) {
      padding-bottom: 12px;
    }
    // Left and right inner body paddings
    > header [class^="visibleContainer"],
    > [class^="body"] > *:not([aria-hidden]),
    > footer {
      padding-left: 12px;
      padding-right: 12px;
      margin-left: 16px;
      margin-right: 16px;
      z-index: 1;
    }
    > [class^="body"]::before {
      content: "";
      height: 1px;
      min-height: 1px;
      background-color: var(--profile-body-divider-color);
      margin-bottom: 12px;
      margin-left: 28px;
      margin-right: 28px;
      position: sticky;
      z-index: 1;
    }
    &::-webkit-scrollbar {
      width: 8px;
      height: 16px;
    }
    &::-webkit-scrollbar-corner {
      background-color: transparent;
    }
    &::-webkit-scrollbar-thumb {
      background-color: var(--profile-body-divider-color);

      background-clip: padding-box;
      border: 2px solid transparent;
      border-radius: 4px;
      // background-color: var(--scrollbar-thin-thumb);
      min-height: 40px;
    }
    &::-webkit-scrollbar-track {
      margin-top: inlineStatus.$bitesize-padding;
      margin-bottom: 4px;

      border: 2px solid var(--scrollbar-thin-track);
      background-color: var(--scrollbar-thin-track);
      border-color: var(--scrollbar-thin-track);
    }
  }
}

[class^="userPanelOuter"] [class^="bannerSVGWrapper"] {
  position: absolute;
  top: 0px;
}

// Username clamp
[class*="userProfileOuter"] {
  &:not(:hover) [class^="nicknameIcons_"] {
    display: none;
  }
  [class^="clickableUsername_"] > :is(h1, h2) {
    -webkit-line-clamp: 1;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    word-break: break-all;
  }
}

// Message box
[class^="channelTextArea"] > [class^="inner"] {
  background-color: transparent;
  border: 1px solid var(--profile-message-input-border-color);
}

// Activities
[class^="activityBiteSizePopout"] > img,
[class^="activity_"] > img {
  width: 24px !important;
  height: 24px !important;
}
