// I've gotten to that point where this is getting really hard to sort through. Hopefully nothing needs to be changed lol

// #region Debubble status
[class^="visibleContainer"] {
  position: relative;
  top: unset !important;
  left: unset !important;
  padding: 0 16px;
}
[class^="invisibleContainer"] {
  display: none;
}
[class^="statusBubbleOuter"] {
  border: unset !important;
  box-shadow: unset;
  max-width: fit-content;
  &::before,
  &::after {
    display: none;
  }
  [class^="content"] {
    text-align: unset;
    max-height: unset !important;
    -webkit-line-clamp: unset;
  }
  .emoji {
    cursor: default;
  }
}
[class^="statusBubble"] {
  min-width: unset;
  padding: unset;
  border-radius: unset;
  background: unset;
}
// #endregion

// #region Prep header
// $bitesize-padding: 158px;
$bitesize-padding: 158px;
// $panel-padding: 124px;
$panel-padding: 158px;
$fullsize-padding: 283px;

[class*="biteSizeOuter"] {
  > div {
    max-height: calc(
      100vh - 28px - 16px - var(--custom-user-popout-outside-components-height) - $bitesize-padding
    );
    padding-top: $bitesize-padding;
  }
  header {
    > svg {
      transform: translateY(calc($bitesize-padding * -1));
    }
  }
  &:not([class*="userProfileOuterThemed"]) header {
    > [class^="avatar"] {
      // transform: translate(16px, calc(61px + $bitesize-padding * -1));
      transform: translate(22px, calc(75px + $bitesize-padding * -1));
    }
  }
  &[class*="userProfileOuterThemed"] header {
    > [class^="avatar"] {
      // transform: translate(12px, calc(57px + $bitesize-padding * -1));
      transform: translate(18px, calc(71px + $bitesize-padding * -1));
    }
  }
}

[class^="userPanelOuter"] {
  > div > [class^="none"] {
    padding-top: $panel-padding;
  }
  header {
    // > svg {
    //   position: fixed !important;
    //   transform: translateY(calc($panel-padding * -1));
    // }
    > [class^="avatar"] {
      position: fixed !important;
      transform: translate(16px, calc(72px + $panel-padding * -1));
    }
  }
}

[class*="fullSizeOuter"] {
  > div {
    padding-top: $fullsize-padding;
    padding-bottom: 16px;
  }
  header {
    > svg {
      transform: translateY(calc($fullsize-padding * -1));
    }
    > [class^="headerInner"] > [class^="avatar"] {
      // transform: translate(24px, calc(145px + $fullsize-padding * -1));
      transform: translate(24px, calc(145px + $fullsize-padding * -1));
    }
  }
}

[class*="userProfileOuter"]:not([class^="userProfileModalOuter"]) {
  header {
    min-height: unset !important;
    > svg {
      position: absolute;
      width: unset;
      padding-right: 4px;
    }
    > [class^="avatar"],
    > [class^="headerInner"] > [class^="avatar"] {
      position: absolute;
      top: unset;
      left: unset;
    }
    > [class^="headerInner"] {
      position: absolute;
      padding: unset;
      > [class^="buttons"] {
        position: absolute;
        padding-right: 4px;
        margin-right: 16px;
        top: 0;
        right: 0;
        transform: translateY($fullsize-padding - 54px);
      }
    }
  }
  &:not([class*="userProfileOuterThemed"], [class^="userPanelOuter"]) header {
    > svg {
      border-top-left-radius: var(--radius-sm);
      border-top-right-radius: var(--radius-sm);
      padding-right: unset;
    }
    > [class^="headerInner"] {
      > [class^="buttons"] {
        padding-right: unset;
      }
    }
  }
}
// #endregion

// #region Prep body
[class*="userProfileOuter"]:not([class^="userProfileModalOuter"]) {
  &[class*="themeContainer"] {
    > div {
      gap: 16px;
      > [class^="body"] {
        > [class^="menus"] {
          padding-bottom: 16px;
        }
      }
    }
  }
  > div,
  > div > [class^="none"] {
    gap: 12px;
    display: flex;
    flex-direction: column;
    // max-height: -webkit-fill-available;
    > header {
      &,
      > [class^="headerInner"] {
        display: contents;
        > div:not([class]) {
          order: -1;
        }
      }
    }
    > [class^="body"] {
      display: contents;
      > [class^="container"] {
        order: -2;
        max-height: max-content;
      }
      > *:not([aria-hidden]) {
        margin: 0 16px;
      }
    }
    // > footer {
    //   padding-top: 4px;
    // }
    > [class^="overlayBackground"] {
      margin-top: unset;
    }
  }
}
[class^="userPanelOuter"] > div > [class^="none"] {
  min-width: 340px;
}
// #endregion
