// Sort order
[class^="biteSizeOuter"] {
  // Badges

  // Username container
  [class^="body_"] > [class^="container_"] {
    order: -11 !important;
  }
  // Guild tag
  [class^="body_"] > [class^="clickable_"] {
    order: -10;
  }
  // Status
  header > div:nth-of-type(2) {
    order: -9 !important;
  }
  // Divider
  [class^="body_"]::before {
    order: -8;
  }
  // Bot buttons
  [class^="body_"] > [class^="buttons_"] {
    order: -7;
  }
  // About me
  [class^="body"] > div:has(> [class^="descriptionClamp_"]) {
    order: -6;
  }
  // Mutuals
  [class^="body_"] > [class^="mutuals_"] {
    order: -5;
  }
  // Activities
  [class^="body_"] > [class^="activityBiteSizePopout_"],
  [class^="body_"] > [class*="activity_"] {
    // [class^="body_"] > div:has([class^="activityBiteSizePopout_"]) {
    order: -4;
  }
  // Try my commands & bot roles
  [class^="body_"] > section {
    order: -3;
  }
  // Roles
  [class^="body_"] > div:has(> [data-list-id^="roles-"]) {
    order: -2;
  }
  // My profile buttons
  [class^="body_"] > [class^="menus_"] {
    order: -1;
  }
  // SimplifiedProfileNotes (plugin)
  [class^="body_"] > section:has([class^="note"]) {
    order: 1;
  }
}

[class^="fullSizeOuter"] {
  // Badges

  // Username container

  // Guild tag
  [class^="body_"] > [class^="clickable_"] {
    order: -2;
  }

  // Status
}
