// Body
[class*="biteSizeOuter"] {
  > div {
    gap: unset;
    padding-bottom: 16px;
    background: linear-gradient(
      var(--profile-gradient-start),
      var(--profile-gradient-start) var(--custom-user-banner-height-bite-size),
      var(--profile-gradient-end)
    );
    overflow: hidden auto;
    &::after {
      content: "";
      position: absolute;
      background-color: var(--profile-body-background-color);
      width: -webkit-fill-available;
      height: -webkit-fill-available;
      border-radius: var(--radius-sm);
      margin: 0 16px 16px 16px;
    }
    > header [class^="visibleContainer"],
    > [class^="body"],
    > footer {
      padding-left: 12px;
      padding-right: 12px;
      margin-left: 16px;
      margin-right: 16px;
      z-index: 1;
    }
    > [class^="body"] {
      overflow: unset;
      min-height: unset;
      padding-top: 12px;
    }
  }
}
[class*="biteSizeOuter"][class*="userProfileOuterThemed"] > div::after {
  margin: 0 20px 20px 16px;
}

[class*="biteSizeOuter"] {
  width: 348px;
  box-sizing: border-box;
}

[class*="biteSizeOuter"] {
  > div {
    padding-top: $fancy-padding;
    max-height: calc(
      100vh - 28px - var(--custom-user-popout-outside-components-height) - $fancy-padding
    );
  }
  header {
    min-height: unset !important;
    > svg {
      position: fixed;
      width: 340px;
      transform: translateY($negative-fancy-padding);
    }
    > [class^="avatar"] {
      position: fixed;
      top: unset;
      left: unset;
    }
    &:not(:has([style*="background-image"])) {
      > svg {
        width: 348px;
        > foreignObject {
          transform: translateY(calc(-105px + 60px));
        }
      }
      > [class^="avatar"] > div {
        transform: translateY(-45px);
      }
    }
  }
  // Unthemed
  &:not([class*="userProfileOuterThemed"]) header {
    > svg {
      border-top-left-radius: var(--radius-sm);
      border-top-right-radius: var(--radius-sm);
    }
    > [class^="avatar"] {
      transform: translate(16px, calc(61px + $negative-fancy-padding));
    }
    &:has([style*="background-image"]) {
      > svg {
        width: 348px;
      }
    }
  }
  // Themed/Nitro
  &[class*="userProfileOuterThemed"] header {
    > [class^="avatar"] {
      transform: translate(12px, calc(57px + $negative-fancy-padding));
    }
    &:not(:has([style*="background-image"])) {
      > svg {
        width: 340px;
      }
    }
  }
}

// Banner avatar cutout
[class*="biteSizeOuter"] {
  // w/o Nitro
  &[class*="userProfileOuterUnthemed"] circle {
    // IMAGE
    &[cx="52"][cy="97"][r="46"] {
      cx: 48.3;
      cy: 93.3;
      r: 40.59;
    }
    // SOLID COLOR CORRECTGh nm
    &[cx="56"][cy="101"][r="46"] {
      cx: 48.3;
      cy: 93.3;
      r: 39.656;
    }
  }
  // Nitro
  &[class*="userProfileOuterThemed"] circle {
    // IMAGE
    &[cx="52"][cy="97"][r="46"] {
      cx: 45.9;
      cy: 85.7;
      r: 40.59;
    }
    // SOLOLDFHBNIASUJHBF
    &[cx="56"][cy="101"][r="46"] {
      cx: 45.9;
      cy: 85.7;
      r: 39.656;
    }
  }
}

// Activities
[class*="userProfileOuter"] [class^="activityBiteSizePopout"] {
  padding: unset;
  border-radius: unset;
  background: unset !important;
}

// About me
[class*="userProfileOuter"] {
  [class^="descriptionClamp"] {
    display: unset;
  }
  [class^="viewFullBio"] {
    display: none;
  }
}
