@mixin tooltip {
  &::before {
    content: "";
    font-size: 14px;
    width: max-content;
    position: fixed;
    transform: translateY(-38px);
    background-color: var(--background-floating);
    box-shadow: var(--shadow-high);
    color: var(--text-normal);
    padding: 8px 12px;
    border-radius: 5px;
    pointer-events: none;
  }
  &::after {
    content: "";
    position: fixed;
    border-top-color: var(--background-floating) !important;
    border: 0 solid transparent;
    border-width: 5px;
    transform: translateY(-17px);
    pointer-events: none;
  }
}
