@use "sass:map";

// eyebrows.scss
$about-me: (
  "da": "Om mig",
  "de": "Über mich",
  "en-US": "About Me",
  "en-GB": "About Me",
  "es-ES": "Sobre mí",
  "es-419": "Sobre mí",
  "fr": "À propos de moi",
  "hr": "O meni",
  "it": "Chi sono",
  "lt": "Apie mane",
  "hu": "Bemutatkozás",
  "nl": "Over mij",
  "no": "Om meg",
  "pl": "O mnie",
  "pt-BR": "Sobre mim",
  "ro": "Despre mine",
  "fi": "Tietoja minusta",
  "sv-SE": "Om mig",
  "vi": "Giới thiệu về tôi",
  "tr": "Hakkımda",
  "cs": "Členem od",
  "el": "Σχετικά με εμένα",
  "bg": "За мен",
  "ru": "Обо мне",
  "uk": "Про мене",
  "hi": "मेरे बारे में",
  "th": "เกี่ยวกับฉัน",
  "zh-CN": "自我介绍",
  "ja": "自己紹介",
  "zh-TW": "關於我",
  "ko": "내 소개",
);
$roles: (
  "da": "Roller",
  "de": "Rollen",
  "en-US": "Roles",
  "en-GB": "Roles",
  "es-ES": "Roles",
  "es-419": "Roles",
  "fr": "Rôles",
  "hr": "Uloge",
  "it": "Ruoli",
  "lt": "Vaidmenys",
  "hu": "Rang",
  "nl": "Rollen",
  "no": "Roller",
  "pl": "Role",
  "pt-BR": "Cargos",
  "ro": "Roluri",
  "fi": "Roolit",
  "sv-SE": "Roller",
  "vi": "Vai trò",
  "tr": "Roller",
  "cs": "Rolí",
  "el": "Ρόλοι",
  "bg": "Роли",
  "ru": "Роли",
  "uk": "Ролі",
  "hi": "रोल",
  "th": "ตำแหน่ง",
  "zh-CN": "身份组",
  "ja": "ロール",
  "zh-TW": "身分組",
  "ko": "역할",
);
$mutuals: (
  "da": "Fælles",
  "de": "Freunde",
  "en-US": "Mutuals",
  "en-GB": "Mutuals",
  "es-ES": "En común",
  "es-419": "Amigos en común",
  "fr": "En commun",
  "hr": "Zajednički",
  "it": "In comune",
  "lt": "Bendri",
  "hu": "Közösek",
  "nl": "Gemeenschappelijk",
  "no": "Felles",
  "pl": "Wspólne",
  "pt-BR": "En Comun",
  "ro": "În comun",
  "fi": "Yhteiset",
  "sv-SE": "Gemensamma",
  "vi": "Bạn và máy chủ chung",
  "tr": "Ortak arkadaşlar ve sunucular",
  "cs": "Společné",
  "el": "Κοινοί",
  "bg": "Общи неща",
  "ru": "Общие",
  "uk": "Загальні",
  "hi": "म्युचुअल्स",
  "th": "เพื่อนและเซิร์ฟเวอร์ที่มีร่วมกัน",
  "zh-CN": "共同好友/服务器",
  "ja": "共通のフレンド",
  "zh-TW": "共同好友或伺服器",
  "ko": "공통",
);
$try-my-commands: (
  "da": "Prøv mine kommandoer",
  "de": "Über mich",
  "en-US": "Try my commands",
  "en-GB": "Try my commands",
  "es-ES": "Probar mis comandos",
  "es-419": "Probar mis comandos",
  "fr": "Essaie mes commandes",
  "hr": "Isprobaj moje naredbe",
  "it": "Prova i miei comandi",
  "lt": "Išbandyk mano komandas",
  "hu": "Próbáld ki a parancsaimat",
  "nl": "Probeer mijn opdrachten",
  "no": "Prøv kommandoene mine",
  "pl": "Wypróbuj moje komendy",
  "pt-BR": "Experimente meus comandos",
  "ro": "Încearcă comenzile mele",
  "fi": "Kokeile komentojani",
  "sv-SE": "Testa mina kommandon",
  "vi": "Thử các lệnh của tôi",
  "tr": "Komutlarımı dene",
  "cs": "Zkus moje příkazy",
  "el": "Δοκίμασε τις εντολές μου",
  "bg": "Изпробване на моите команди",
  "ru": "Опробуйте мои команды",
  "uk": "Спробуйте мої команди",
  "hi": "मेरी कमांड ट्राय करें",
  "th": "ลองใช้คำสั่งของฉันดูสิ",
  "zh-CN": "试试我的指令",
  "ja": "コマンドを試してみてね！",
  "zh-TW": "試試看我的指令",
  "ko": "제 명령어를 사용해보세요",
);

// buttons.scss
// $edit-profile: (
//   "da": "Rediger profil",
//   "de": "Profil bearbeiten",
//   "en-US": "Edit Profile",
//   "en-GB": "Edit Profile",
//   "es-ES": "Editar perfil",
//   "es-419": "Editar perfil",
//   "fr": "Modifier le profil",
//   "hr": "Uredi profil",
//   "it": "Modifica profilo",
//   "lt": "Redaguoti profilį",
//   "hu": "Profil szerkesztése",
//   "nl": "Profiel bewerken",
//   "no": "Rediger profil",
//   "pl": "Edytuj profil",
//   "pt-BR": "Editar perfil",
//   "ro": "Editează profilul",
//   "fi": "Muokkaa profiilia",
//   "sv-SE": "Redigera profilen",
//   "vi": "Sửa Hồ Sơ",
//   "tr": "Profili Düzenle",
//   "cs": "Upravit profil",
//   "el": "Επεξεργασία προφίλ",
//   "bg": "Редактиране на профил",
//   "ru": "Редактировать профиль",
//   "uk": "Редагувати профіль",
//   "hi": "प्रोफ़ाइल एडिट करें",
//   "th": "แก้ไขโปรไฟล์",
//   "zh-CN": "编辑个人资料",
//   "ja": "プロフィールを編集",
//   "zh-TW": "編輯個人資料",
//   "ko": "프로필 편집",
// );

// popout.scss
$view-profile: (
  "da": "Se profil",
  "de": "Profil ansehen",
  "en-US": "View Profile",
  "en-GB": "View Profile",
  "es-ES": "Ver perfil",
  "es-419": "Ver perfil",
  "fr": "Voir le profil",
  "hr": "Prikaži profil",
  "it": "Mostra profilo",
  "lt": "Peržiūrėti Profilį",
  "hu": "Profil megtekintése",
  "nl": "Profiel bekijken",
  "no": "Vis profil",
  "pl": "Zobacz profil",
  "pt-BR": "Ver perfil",
  "ro": "Vezi profil",
  "fi": "Näytä profiili",
  "sv-SE": "Visa profil",
  "vi": "Xem Hồ Sơ",
  "tr": "Profili Görüntüle",
  "cs": "Zobrazit profil",
  "el": "Προβολή προφίλ",
  "bg": "Преглед на профил",
  "ru": "Профиль",
  "uk": "Профіль",
  "hi": "प्रोफ़ाइल देखें",
  "th": "ดูโปรไฟล์",
  "zh-CN": "查看个人资料",
  "ja": "プロフィール表示",
  "zh-TW": "檢視個人檔案",
  "ko": "프로필 보기",
);
