// Sort order
[class*="biteSizeOuter"] [class^="body"] {
  // Username container
  > [class^="container"] {
    order: -8;
  }
  // Guild tag
  > [class^="clickable"] {
    order: -7;
  }
  // Status
  // Bot buttons
  > [class^="buttons"] {
    order: -6;
  }
  // About me
  > div:not([class], [style]) {
    order: -5;
  }
  // Mutuals
  > [class^="mutuals"] {
    order: -4;
  }
  // Activities
  > [class^="activityBiteSizePopout"],
  > div:has([class^="activityBiteSizePopout"]) {
    order: -3;
  }
  // Try my commands & roles
  > div[style="position: relative;"],
  section {
    order: -2;
  }
  // My profile buttons
  > [class^="menus"] {
    order: -1;
  }
  // SimplifiedProfileNotes (plugin)
  > section:has([class^="note"]) {
    order: 1;
  }
}
